@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;1,200&display=swap');
        body {
			background-image:url("img2.jpg" );
			font-family: Verdana;
			text-align: center;
            background-size: cover;
		}
        h1{
            color: rgb(255, 255, 255);
            font-family: sans-serif;
            
        }
		form {
			background-color: rgba(16, 14, 24, 0.377);
			max-width: 500px;
			margin: 50px auto;
			padding: 30px 20px;
            color: white;
			box-shadow: 2px 5px 10px rgba(2, 2, 2, 0.5);
            label{
                color:white ;
            }
        
		}


		.form-control {
			text-align: left;
			margin-bottom: 25px;
		}

		.form-control label {
			display: block;
			margin-bottom: 10px;
		}

	
		.form-control input,
		.form-control select,
		.form-control textarea {
			border: 1px solid #777;
			border-radius: 2px;
			font-family: inherit;
			padding: 14px;
			display: block;
			width: 95%;
		}

		.form-control input[type="radio"],
		.form-control input[type="checkbox"] {
			display: inline-block;
			width: auto;
		}

	
		button {
			background-color: #2d3442f5;
            color: #d8d8d8;
			border-radius: 16px;
			font-family: Extra-light 200 italic;
			font-size: 18px;
			display: block;
			width: 23%;
			margin-top: 50px;
			margin-bottom: 20px;
		}
		.submit:hover{
			background-color: #787edb;

		}
        footer{
            color: rgb(214, 195, 195);
            text-align: center;
        }

